html {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: League Spartan,sans-serif;
  place-items: center;
  min-width: 420px;
  background-color: #eddbdb9e;
  width: 100%;
  height: 100%;
}

main {
  display: block;
  padding-bottom: 60px;
  width: 100%;
  height: 100%;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #eddbdb9e;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --space: 12px;
  --primaryDark: hsl(251, 21%, 10%);
  --secondary: #e20053;
  --secondaryLight: #ff146a;
}

head {
  display: none;
}

header {
  background-color: var(--primaryDark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

a {
  display: block;
  font-weight: 700;
  color: #ffffff;
  text-decoration: inherit;
  margin: 12px;
  margin: calc(var(--space) * 2);
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
}
a:hover {
  color: #da94ea;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  color: #ffffff;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}

h1 {
  display: block;
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  margin: auto;
  max-width: 50%;
  padding: 20px;
}

em {
  font-style: italic;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

div.polaroid {
  display: block;
  width: 40%;
  background-color: white;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: auto;

}
div.write {
  display: block;
  text-align: center;
  padding: 40px 20px;
}

ul {
  list-style-type: none;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #da94ea;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.button, button {
  background-color: var(--secondary);
  padding: var(--space);
  color: #fff;
  text-decoration: none;
  transition: .3s;
  cursor: pointer;
}

footer {
   position: fixed;
   left: 0;
   bottom: 0;
   background-color: #eddbdb9e;
   color: rgb(0, 0, 0);
   text-align: center;
   width: 100%;
   padding: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #da94ea;
  }
  button {
    background-color: #f9f9f9;
  }
}
